html{
    height: 100%;
}
body{
    font-family: 'Ubuntu', sans-serif;
/*    background-size: cover;*/
    height: 100%;
    background-color:rgba(202, 237, 234, 0.13);
    font-size: 18px;

/*
    background-repeat: no-repeat;
    background: url(http://www.artsfon.com/pic/201411/1920x1080/artsfon.com-27292.jpg);
*/
}
.wrap{
    margin-top:80px;
    background-color: rgba(255, 255, 255, 0.9);

}

.menu-btn {

    cursor: pointer;
    position: absolute;
    top:2%;
    left: 2%;
    z-index: 1001;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: wheat;
    margin: 6px 0;
    transition: 0.6s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.margin-top{
    margin-top:5%;
}



.menu{
    font-family: 'Raleway', sans-serif;
    background-color: #066464;
    font-weight:700;
    font-size:35px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:50;
    text-align: center;
    display:none;
    color:wheat;
    cursor: pointer;

}
@keyframes show {
    0%{opacity:0}
        100%{opacity:1}

}
@keyframes hide {
    0%{opacity:1}
        100%{opacity:0}

}
#menu-wrap{
       position: relative;
        padding: 10%;
    }
#menu-wrap ul>li{
    list-style: none;
    padding: 10px;


}
#menu-wrap ul>li a{
    color:wheat;
    text-decoration: none;
    padding: 10px;


}
#menu-wrap ul>li a:hover{

    color:#ceab69;

}
.display-error{
  color:red;
}
.flash-info{
  color:green;
}
